@import "./vars";
@import "./mixins/respond-to";
@import "./mixins/word-wrap";
@import "./mixins/font-size";
@import "./mixins/field";
@import "./mixins/link";

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  overflow-y: scroll;
}

#app {
  height: 100%;
}

$counter: 10;
$step: 10px;

@for $i from 0 to $counter {
  .offset-t-#{$i} {margin-top: $step * $i}
  .offset-r-#{$i} {margin-right: $step * $i}
  .offset-b-#{$i} {margin-bottom: $step * $i}
  .offset-l-#{$i} {margin-left: $step * $i}
}

.float-left {float: left;}
.float-right {float: right;}


select {
  @include field();
  padding: 0 6px;
}

input {
  outline: none;
  border-radius: 0;
  border: none;
}


/* Messages */
ul.messages {
  list-style: none;
  margin-bottom: 30px;

  .error-msg, .success-msg, .notice-msg {
    display: block;
    padding-left: 10px;
  }

  .error-msg {border-left: 2px solid #ff1b41;}
  .success-msg {border-left: 2px solid #11b400;}
  .notice-msg {border-left: 2px solid #e26703;}

  li ul {
    @include word-wrap();
    @include font-size(14, 20);
    color: #292929;
    list-style: none;
  }

  li ul li + li {margin-top: 5px;}

  a {
    @include link();
  }
}

ul.messages_no-margin {
  margin-bottom: 0;
}

.link {
  color: #1a85dd;
}
.link:hover {
  color: #37a1f9;
}