/* background */
$bg-color: #f3f3f3;

/* message */
$color-red: #ff1b41;
$color-green: #11b400;
$color-orange: #e26703;

/* tags */
$color-red: #ff1b41;
$color-green: #11b400;
$color-orange: #e26703;

/* text */
$text-color: #292929;


$content-margin-top: 15px;
$mobile-header-height: 54px;
$mobile-header-height-with-search: $mobile-header-height * 2;

$icon-path    : '/skin/frontend/magdv/default/images/';
$icon-basket  : $icon-path + 'icon_basket_white.svg';
$icon-gray-basket  : $icon-path + 'icon_small_basket_grey.svg';

$base-color: #333 !default;


/* z-index */
$z-index-modal: 1050; // from bootstrap
$z-index-header-fixed: $z-index-modal - 10;
$z-index-benefit-wrapper: $z-index-header-fixed - 10;
$z-index-search-category: $z-index-header-fixed;
$z-index-mini-cart-dropdown: $z-index-header-fixed;
$z-index-button-scroll-top: $z-index-mini-cart-dropdown + 1000;