@import '../../../../styles/mixins/font-size';
@import '../../../styles/mixins/font-weight';
@import '../../../../styles/mixins/word-wrap';
@import '../../../styles/vars';

$speed: 0.1s;
$function: ease;
$img-path: './img/';

.radio {
  position: relative;
  display: block;
  cursor: pointer;
  & + & {
    margin-top: 18px;
  }
}

.radio:hover {
  .radio__label {
    color: $color-red;
  }
  .radio__label:before {
    border-color: $color-red;
  }
}

.radio + .radio {margin-top: 18px;}

.radio__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.radio__input:checked + .radio__label {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: url($img-path+'radio-circle.svg') center no-repeat;
    background-size: 6px 6px;
    transition: background-color $speed $function;
  }
}

.radio__input:focus + .radio__label {
  color: $color-red;

  &:before {
    border-color: $color-red;
  }
}

.radio__label {
  @include font-size(14, 16);
  @include word-wrap();
  display: inline-block;
  position: relative;
  width: 100%;
  padding-left: 30px;
  font-weight: 400;
  color: #292929;
  transition: color $speed $function;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
    transition: background $speed $function, border-color $speed $function;
  }
}
