@import "../../../styles/mixins/field";
@import "../../../../styles/mixins/font-size";
@import "../../../../styles/mixins/word-wrap";

.field-address {
  position: relative;

  :global {
    .suggestions-input {
      @include field();
    }

    .suggestions-wrapper {
      position: absolute;
      display: block;
      left: 0;
      background-color: #ffffff;
      z-index: 1000;
    }

    .suggestions-selected {background: #f5f5f5;}
    .suggestions-suggestions strong {color: #ff1b41;}
    .suggestions-nowrap {white-space: normal;}

    .suggestions-suggestions {
      border: none;
      box-shadow: 0 5px 7px 0 rgba(25, 23, 26, 0.15);
      z-index: 1000;
      overflow: hidden;
      top: 0 !important;
      background-color: #ffffff;
    }

    .suggestions-suggestion {
      @include word-wrap();
      @include font-size(14, 18);
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 24px;
      color: #292929;
      padding: 5px 10px;
      overflow-x: hidden;
      border: none;
      cursor: pointer;

      &:hover {background: #f5f5f5;}
    }


    .suggestions-hint {
      @include ellipsis();
      @include font-size(14, 18);
      display: block;
      width: 100%;
      padding: 5px 10px;
    }
  }
}