@import '../../../styles/mixins/field';
@import '../../../../styles/mixins/font-size';
@import '../../../../styles/mixins/word-wrap';
@import '../../../../styles/mixins/ellipsis';
@import '../../../styles/vars';

$img-path: './img/';

:global {
  .Select {
    position: relative;
  }

  .Select:not(.is-pseudo-focused).is-focused {
    .Select-control {
      border: 1px solid $color-blue;
    }
  }

  .Select.is-open {
    .Select-control {
      border-color: transparent !important;
      box-shadow: 0 3px 7px 0 rgba(25, 23, 26, 0.15);
    }
  }

  .select_error {
    .Select-control {
      border-color:red;
    }
  }

  // Обертка для значения
  .Select-control {
    @include field();
    padding-right: 24px;
    cursor: pointer;
    transition: none;
  }

  // Выбранное значение
  .Select-value {
    @include font-size(14, 20);
    @include ellipsis;
    width: 100%;
  }

  .Select-placeholder {
    color: $field-placeholder-text-color;
  }

  // Обертка для стрелки
  .Select-arrow-zone {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
  }

  // Стрелка
  .Select-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    width: 16px;
    height: 16px;
    background: url($img-path+'arrow.svg');
    background-size: cover;
  }

  // Обертка для дропдауна
  .Select-menu-outer {
    position: absolute;
    margin-top: -1px;
    top: 100%;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-top: 1px solid $color-grey;
    box-shadow: 0 5px 7px 0 rgba(25, 23, 26, 0.15);
  }

  // Дропдаун
  .Select-menu {
    max-height: 224px;
    overflow-y: auto;
  }

  // Элемент списка в дропдауне
  .Select-option {
    @include font-size(14, 22);
    @include word-wrap;
    min-height: 24px;
    color: $text-color;
    padding: 5px 10px;
    overflow-x: hidden;
    cursor: pointer;
  }

  .Select-option.is-focused,
  .Select-option.is-selected,
  .Select-option:hover {
    background: #f5f5f5;
  }

  .Select-option.is-disabled {
    color: $color-grey-dark;
    cursor: default;
  }

  .Select-option.is-disabled:hover {
    background: initial;
  }

  .Select-option .is-unaviable {
    @include font-size(10, 18);
    padding-left: 4px;
  }
}
