@import "../../styles/mixins/field";
@import "../../../styles/mixins/font-size";
@import "../../styles/mixins/font-weight";
@import "../../../styles/mixins/respond-to";
// @import "../../styles/mixins/button";
@import "../../styles/vars";

$img-path: './img/';

.datetimepicker {
  padding: 20px;
  max-width: 100%;
  height: 100%;

  @include respond-to(xxs, xs) {
    padding: 0;
  }
}

.datepicker {
  font-size: 0;
  @include field();
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 6px;
    display: block;
    width: 24px;
    height: 24px;
    background: url($img-path + 'calendar.svg');
  }

  &:hover {
    cursor: pointer;

    .datepicker__btn {
      background: url($img-path + 'calendar_hover.svg');
    }
  }

  @include respond-to(xxs, xs) {
    width: 100%;
  }
}

.datepicker_focus {
  border: 1px solid $color-blue;
}

.datepicker__btn {
  display: block;
  width: 24px;
  height: 24px;
  background: url($img-path + 'calendar.svg');
  position: absolute;
  top: 5px;
  right: 6px;

  &:hover {
    cursor: pointer;
    &:after { background: url($img-path + 'calendar_hover.svg'); }
  }
  &:focus {
    outline: none;
    background: url($img-path + 'calendar_hover.svg');
  }
}

  @include respond-to(xxs, xs) { width: 100%; }

.datepicker__time {
  margin-left: 16px;

  @include respond-to(xs) { margin-left: 10px; }
  @media only screen and (min-width: 480px) and (max-width: 500px) { margin-left: 2px; }
}

.datepicker__notify {
  @include respond-to(xxs, xs) {
    display: none;
  }
}

.slots {
  @include respond-to(xxs, xs) {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.slots__table {
  display: flex;
  justify-content: space-between;
  height: 100%;

  @include respond-to(xxs, xs) {
    display: block;
    white-space: nowrap;
  }
}

.slots__day {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;

  @include respond-to(xxs, xs) {
    @include font-size(14, 20);
    display: block;
    width: 40px;
    flex-shrink: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid $color-white;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
}

.slots__day_current {
  border-bottom: 2px solid $color-red;
  color: $color-red;
}

.slots__day-calend {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 3px auto 10px;
  border: 1px solid $color-red;
  border-radius: 2px;
}

.slots__day-week {
  @include font-size(10,16);
  @include font-weight(bold);
  text-transform: uppercase;

  @include respond-to(xxs) {
    @include font-size(12,18);
    @include font-weight(normal);
    display: block;
    color: inherit;
    margin-bottom: 4px;
  }
}

.slots__day-date {
  @include font-size(18,16);
  @include font-weight(bold);
  color: $color-red;
  display: block;

  @include respond-to(xxs,xs) {
    @include font-size(14, 20);
    display: block;
    color: inherit;
  }
}

.slots__day-month {
  @include font-size(10,16);
  @include font-weight(bold);
  display: block;
  text-transform: uppercase;
  color: $color-red;
}

.slots__time {
  @include font-size(14,20);
  padding: 5px 12px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid $color-white;
  box-sizing: border-box;

  &:hover {
    color: $color-white;
    background: $color-red;
    border: 1px solid $color-red;
  }

  &:focus {
    border: 1px solid $color-blue;
    outline: none;

    @include respond-to(mobile) {
      border: 1px solid $color-white;
    }
  }

  @include respond-to(xxs, xs) {
    display: block;
    width: 100%;
    padding: 9px 16px;
    margin: 0;
    border: 1px solid $color-white;
    &:hover {
      color: $text-color;
      background: $color-white;
    }
  }

  @include respond-to(mobile) {
    &:hover {
      border: 1px solid $color-white;
    }
  }

  @include respond-to(xs) { padding: 5px; }
}

.slots__time_disabled {
  opacity: 0.3;
  cursor: default;

  &:hover {
    color: $text-color;
    background: $color-white;
    border: 1px solid $color-white;
  }

  &:focus {
    color: $text-color;
    background: $color-white;
    border: 1px solid $color-white;
  }
}

.slots__time_current {
  border: 1px solid $color-red;

  @include respond-to(xxs, xs) {
    color: $color-white;
    background: $color-red;

    &:hover {
      color: $color-white;
      background: $color-red;
      border: 1px solid $color-red;
    }
  }
}

.slots__days {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.slots__times {
  position: relative;
  width: 100%;
  height: calc(100% - 55px);
  white-space: nowrap;
  overflow: auto;
  transition: transform 0.2s ease;
}

.slots__times-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}

.slots__left {
  position: fixed;
  top: 172px;
  left: 30px;
  width: 16px;
  height: 16px;
  box-sizing: content-box;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background: url($img-path + 'left.svg') no-repeat;
    background-size: 16px 16px;
  }
}

.slots__right {
  position: fixed;
  top: 172px;
  right: 30px;
  width: 16px;
  height: 16px;
  box-sizing: content-box;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background: url($img-path + 'right.svg') no-repeat;
    background-size: 16px 16px;
  }
}

.slots__time_current {
  border: 1px solid $color-red;
  &:focus {
    border: 1px solid $color-red;
    outline: none;
  }
}

.datepicker__date:focus, .datepicker__time:focus {
  color: $color-red;
  outline: none;
}

.datepicker__header-time {
  font-size: 14px;
}