@import "../../styles/mixins/word-wrap";
@import "../../styles/mixins/font-size";
@import "../../styles/mixins/respond-to";


$z-index-notice: 1000000;

.notice-list {
  display: block;
  position: absolute;
  top: 176px;
  right: 16px;
  z-index: $z-index-notice;
  width: 400px;
  overflow: hidden;

  @include respond-to(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.notice-list_scroll {
  position: fixed;
  top: 80px;

  @include respond-to(mobile) {
    top: 0;
  }
}