@import '../../../../styles/mixins/font-size';
@import '../../../styles/mixins/font-weight';
@import '../../../../styles/mixins/word-wrap';
@import '../../../styles/vars';

$img-path: './img/';
$icon-size: 14px 14px;
$speed: 0.1s;
$function: ease;
$border-color: $color-grey;
$border-color_hover: $color-red;

.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  line-height: 0.01;
}

.checkbox:hover {
  .checkbox__label {
    color: $color-red;
  }
  .checkbox__label:before {
    border-color: $border-color_hover;
  }
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label {
  &:before {
    background: url($img-path+'checkbox-tick.svg') center no-repeat;
    background-size: $icon-size;
  }
}

.checkbox__input:focus + .checkbox__label {
  color: $color-red;

  &:before {
    border-color: $border-color_hover;
  }
}

.checkbox__label {
  @include font-size(14, 20);
  @include word-wrap();
  @include font-weight(normal);
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 36px;
  color: $text-color;
  transition: color $speed $function;

  &:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $border-color;
    transition: background $speed $function, border-color $speed $function;
  }
}
