@import "../../../../styles/mixins/respond-to";

.field {}

.field_cols {
  display: flex;
  flex-wrap: wrap;
}

.field_cols50 {
  display: flex;
  flex-wrap: wrap;
}


.field__label {}

.field__label_cols {
  padding-top: 8px;
  flex-basis: 185px;

  @include respond-to(xxs, xs) {
    flex-basis: 100%;
  }
}

.field__label_cols50 {
  padding-top: 8px;
  flex-basis: 44%;

  @include respond-to(xxs, xs) {
    flex-basis: 100%;
  }
}


.field__input {}

.field__input_cols {
  flex-shrink: 1;
  flex-grow: 1;
  width: calc(100% - 185px);

  @include respond-to(xxs, xs) {
    width: 100%;
  }
}

.field__input_cols50 {
  flex-shrink: 1;
  flex-grow: 1;
  width: 56%;

  @include respond-to(xxs, xs) {
    width: 100%;
  }
}


.field__input-inner {
  position: relative;
  padding-right: 36px;
}

.field__input-btn {
  position: absolute;
  top: 0;
  right: 0;
}