@import "../../../../styles/mixins/font-size";
@import "../../../../styles/mixins/word-wrap";
@import "../../../../styles/vars";

.form {}

.form__section {
  position: relative;
  display: block;
}

.form__section + .form__section {
  margin-top: 40px;
}

.form__section-title {
  margin-bottom: 30px;
}

.form__row {
  position: relative;
  display: block;
  margin-left: -8px;
  margin-right: -8px;
}

.form__row:before,
.form__row:after {
  content: '';
  display: table;
}

.form__row:after {
  clear: both;
}

.form__row + .form__row {
  margin-top: 16px;
}

.form__row + .form__row_checkbox {
  margin-top: 20px;
}

.field-label {
  @include font-size(14, 20);
  @include word-wrap;
  position: relative;
  display: block;
  width: 100%;
  color: $text-color;
  margin-bottom: 5px;
}

.field-label_required {
  &:after {
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $color-base;
    vertical-align: top;
    margin-left: 5px;
    margin-right: -9px;
  }
}