.row {
  position: relative;
  display: block;
  margin-left: -8px;
  margin-right: -8px;
}

.row:before,
.row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

.row + .row {
  margin-top: 20px;
}

.row + .row_large-margin {
  margin-top: 30px;
}

.row_large-margin + .row {
  margin-top: 30px;
}