@import '../../../styles/mixins/font-size';
@import '../../../styles/mixins/ellipsis';
@import '../../styles/vars';

$button-transition: 0.1s ease 0s;
$button-size-normal: 36px;

.button {
  @include font-size(14, 20);
  @include ellipsis();
  height: $button-size-normal;
  padding: 8px 30px;
  background-color: $color-red;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  user-select: none;
  outline: none;
  vertical-align: top;
  transition: background $button-transition, border $button-transition, color $button-transition;
  appearance: none;

  &:visited {
    background-color: $color-red;
    color: #ffffff;
  }

  &:hover, &:active {
    background-color: $color-red-dark;
    color: #ffffff;
  }

  &:focus {
    background-color: $color-red-dark;
    color: #ffffff;
  }

  &:disabled {
    cursor: default;
    transition: none;
    &, &:visited, &:hover, &:active {background-color: #cccccc;}
  }
}

.button_transparent {
  color: #a9a9a9;
  background-color: transparent;

  &:hover {
    color: #5d5f61;
    background-color: #eeeeee;
  }
}