@import '../../../styles/mixins/font-size';
@import '../../styles/mixins/font-weight';
@import "../../../styles/mixins/word-wrap";
@import '../../styles/vars';

.text {
  @include font-size(14, 20);
  @include word-wrap;
  color: $text-color;
}

.text_size_xs {@include font-size(10, 14);}
.text_size_sm {@include font-size(12, 16);}
.text_size_nm {@include font-size(14, 20);}
.text_size_md {@include font-size(16, 22);}
.text_size_lg {@include font-size(18, 24);}

.text_weight_bold {@include font-weight(bold);}
.text_weight_normal {@include font-weight(bold);}

.text_align_left {text-align: left;}
.text_align_center {text-align: center;}
.text_align_right {text-align: right;}

.text_style_error {
  color: $color-red;
  margin-top: 5px;
}