@import "../../styles/mixins/word-wrap";
@import "../../styles/mixins/font-size";
@import "../../styles/mixins/respond-to";


$z-index-notice: 1000000;
$img-path: '../notice/img/';


.notice {
  position: relative;
  padding: 15px 40px 15px 20px;
  z-index: $z-index-notice;
  width: 400px;
  margin-bottom: 10px;
  transform: translate(0, -100%);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  @include respond-to(mobile) {
    padding: 15px 60px 15px 20px;
    width: 100%;
    min-height: 54px;
    box-shadow: 0 3px 7px 0 rgba(25, 23, 26, 0.15);
  }
}

.notice_open {
  transform: translate(0, 0);
  opacity: 1;
  z-index: $z-index-notice + 1;
}

.notice_style_warning {background: #1f6eff;}
.notice_style_error {background: #ff1b41;}
.notice_style_success {background: #3aa61d;}
.notice_style_info {background: #2bbe9d;}

.notice__title {
  @include font-size(16, 20);
  @include word-wrap();
  font-weight: 400;
  color: #ffffff;
}

.notice__text {
  position: relative;
  @include font-size(14, 20);
  @include word-wrap();
  font-weight: 400;
  color: #ffffff;

  &:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    top: 9px;
    left: -12px;
  }
}

.notice__title + .notice__text {margin-top: 15px;}
.notice__text + .notice__text {margin-top: 5px;}

.notice__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url($img-path + 'notice-close.svg') center no-repeat;
  background-size: 10px 10px;

  @include respond-to(mobile) {
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    background: url($img-path + 'notice-close.svg') center no-repeat;
    background-size: 17px 17px;
  }
}