@import '../../../styles/mixins/respond-to';

$img-path: '../Modal/img/';
$z-index-modal: 10000000;

.modal {
  position: absolute;
  left: 0;
  top: 0;
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;

  @include respond-to(xxs, xs) {
    display: block;
  }
}

.modal__center {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding: 30px 50px;

  @include respond-to(xxs, xs) {
    padding: 10px;
    display: block;
    // height: 100%;
  }
}

.modal__box {
  position: relative;
  display: block;
  min-height: 200px;
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  z-index: $z-index-modal + 1;
  background-color: #ffffff;
  overflow: hidden;

  @include respond-to(xxs) {
    // height: 100%;
  }
}

.modal__header {
  position: relative;
  min-height: 64px;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 64px;
  height: 64px;
  background: url($img-path + 'close.svg') center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;

  &:hover {background-image: url($img-path + 'close_hover.svg');}
}

.modal__content {
  display: block;
  height: calc(100% - 65px);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $z-index-modal;
}