@import "../../../styles/mixins/font-size";
@import "../../../styles/mixins/word-wrap";
@import "../../../styles/mixins/respond-to";

.box-layout {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;

    @include respond-to(mobile) {
        display: block;
    }
}

.box-layout__wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 30px;
  
    @include respond-to(mobile) {
      display: block;
      padding: 0;
    }
}
  
.box-layout__inner {
    display: block;
    width: 100%;
    max-width: 775px;
    margin: 0 auto;
}

.box-layout__content {
    display: block;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 3px 7px 0 rgba(25, 23, 26, 0.15);
    overflow: hidden;
  
    @include respond-to(mobile) {
      min-height: inherit;
      box-shadow: none;
    }
}