@import "../../../../styles/mixins/font-size";
@import "../../../../styles/mixins/word-wrap";
@import "../../../styles/vars";

.label {
  @include font-size(14, 20);
  @include word-wrap;
  position: relative;
  display: block;
  width: 100%;
  color: $text-color;
  margin-bottom: 5px;
}

.label_required {
  &:after {
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $color-red;
    vertical-align: top;
    margin-left: 5px;
    margin-right: -9px;
  }
}