@import '../../../styles/mixins/word-wrap';
@import '../../../styles/mixins/font-size';
@import '../../../styles/mixins/respond-to';
@import '../../styles/vars';

.registration {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 35px 40px 100px;
    @include respond-to(xs) {padding: 20px 20px 40px;}
    @include respond-to(xxs) {padding: 20px 15px 40px;}
}
.registration__title {
    margin-bottom: 20px;
}
.registration__submit {
    position: absolute;
    right: 35px;
    bottom: 40px;
}
.registration__message {
    margin-bottom: 40px;
}
.registration__back {
    @include font-size(14, 20);
    position: absolute;
    top: 42px;
    right: 40px;
    color: $color-blue-dark;
    font-weight: bold;

    &:hover {
        color: $color-blue;
    }

    &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('./img/arrow.svg');
        position: relative;
        left: -8px;
        top: 2px;
    }

    @include respond-to(xs) {
        top: 22px;
        right: 20px;
    }
    @include respond-to(xxs) {
        top: 22px;
        right: 15px;
    }
}

.title {
    margin-bottom: 15px;
}

.column {
  margin-left: 44%;
  max-width: 56%;
  margin-bottom: 10px;

  @include respond-to(xxs, xs) {
    margin-left: 0;
    max-width: 100%;
  }
}