@import "font-size";
@import "ellipsis";


$field-size-nm: 36px;
$field-border-color: #e2e2e2;
$field-border-color-focus: #37a1f9;
$field-border-color-error: #ff1b41;
$field-text-color: #292929;
$field-placeholder-text-color: #c2c7ce;


@mixin field () {
  @include font-size(14, 20);
  display: block;
  width: 100%;
  height: $field-size-nm;
  font-weight: 400;
  color: $field-text-color;
  border: 1px solid $field-border-color;
  border-radius: 0;
  padding: 7px 10px 9px;
  background-color: #ffffff;
  box-shadow: none;
  outline: none;
  transition: border-color ease-in-out .15s;

  &:focus {
    box-shadow: none;
    border-color: $field-border-color-focus;
  }

  &::placeholder {
    @include ellipsis();
    max-width: 100%;
    color: $field-placeholder-text-color;
  }

  // &:read-only or &[readonly] - that is the question
  &:disabled, &[readonly] {
    background-color: #eeeeee;
    cursor: default;
  }

  &.validation-failed {
    border-color: $field-border-color-error;
  }
}