@import "word-wrap";

@mixin link () {
  @include word-wrap();
  text-decoration: none;
  color: #1a85dd;
  font-weight: 400;
  cursor: pointer;
  border: none;
  background: 0;

  &:hover {color: #37a1f9;}
}