$xxs: 320px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin respond-to($medias...) {
  @each $media in $medias {
    @if $media == xxs {
      @media only screen and (max-width: $xs - 1) { @content; }
    }
    @else if $media == xs {
      @media only screen and (min-width: $xs) and (max-width: $sm - 1) { @content; }
    }
    @else if $media == sm {
      @media only screen and (min-width: $sm) and (max-width: $md - 1) { @content; }
    }
    @else if $media == md {
      @media only screen and (min-width: $md) and (max-width: $lg - 1) { @content; }
    }
    @else if $media == xmd {//TODO: Специально для страницы товара
      @media only screen and (min-width: 1000px) and (max-width: $lg - 1) { @content; }
    }
    @else if $media == lg {
      @media only screen and (min-width: $lg) { @content; }
    }@else if $media == mobile {
      @media only screen and (max-width: $sm - 1) { @content; }
    }
  }
}