@mixin word-wrap() {
  overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word;
  word-break: break-word;     /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto;           /* нет поддержки для русского языка */
  //hyphens: auto;  /* значение auto не поддерживается Chrome */
}