@import '~react-datepicker/src/stylesheets/datepicker-cssmodules';
@import '../../styles/vars';

$img-path: './img/';
$color-nav-border:  #fa758b;
$color-disable-day: #a9a9a9;

:global {
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    display: block;
  }

  .react-datepicker {
    font-size: 1em;
    border: 0;
    border-radius: 0;
    box-shadow: 0 3px 7px 0 rgba(25,23,26,.15);
  }
  .react-datepicker__header {
    padding: 0;
    background: #fff;
    border: 0;
    border-radius: 0;
  }
  .react-datepicker__month {
    margin: 0;
    padding: 0 10px 10px;
  }

  .react-datepicker__day-names {
    padding: 10px 10px 0;
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    width: 36px;
    margin: 0;
    color: $text-color;
  }

  .react-datepicker__day-name {
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
  }

  .react-datepicker__day {
    line-height: 36px;
  }

  .react-datepicker__day:hover {
    border-radius: 0;
    background: $color-red;
    color: #fff;
  }

  .react-datepicker__day--today {
    font-weight: inherit;
  }

  .react-datepicker__day--disabled {
    color: $color-disable-day !important;
    background: none !important;
  }

  .react-datepicker__day--keyboard-selected {
    border-radius: 0;
    background: $color-red;
    color: #fff;
  }

  .react-datepicker__day--outside-month {
    visibility: hidden;
  }

  .react-datepicker__current-month {
    font-size: 14px;
    text-transform: capitalize;
    height: 44px;
    line-height: 44px;
    background: $color-red;
    color: #fff;
  }
  .react-datepicker__navigation {
    position: absolute;
    display: block;
    top: 0;
    height: 44px;
    width: 54px;
    border: 0;
  }

  .react-datepicker__navigation:hover {
    border-color: $color-nav-border;
    background-color: $color-red-dark;
  }

  .react-datepicker__navigation--previous {
    left: 0;
    border-right: 1px solid  $color-nav-border;
    background: url($img-path + 'datepicker-arrow-left.svg') center no-repeat;
    background-size: 4px 7px;
  }
  .react-datepicker__navigation--next {
    right: 0;
    border-left: 1px solid  $color-nav-border;
    background: url($img-path + 'datepicker-arrow-right.svg') center no-repeat;
    background-size: 4px 7px;
  }
  .react-datepicker__triangle {
    display: none;
  }
}

@import "../../styles/mixins/field";

.input {
  @include field();
  background: url($img-path + 'calendar.svg') center right 10px no-repeat;
}

.input:hover,
.input:focus {
  background: url($img-path + 'calendar_hover.svg') center right 10px no-repeat;
}