@import "../../../styles/mixins/field";
@import '../../../../styles/mixins/ellipsis';

$img-path: './img/';

.input {
  @include field();
  @include ellipsis();
  padding-right: 40px;
  background: url($img-path + 'map.svg') center right 10px no-repeat;
}