@import '../../../styles/mixins/font-size';
@import '../../styles/mixins/font-weight';
@import "../../../styles/mixins/word-wrap";
@import '../../styles/vars';

.title {
  @include font-size(22, 24);
  @include font-weight(normal);
  @include word-wrap;
  color: $text-color;
  margin: 0;
}

.title_size_h1 {@include font-size(22, 24);}
.title_size_h2 {@include font-size(22, 28);}
.title_size_h3 {@include font-size(18, 24);}
.title_size_h4 {@include font-size(16, 22);}
.title_size_h5 {@include font-size(14, 20);}
.title_size_h6 {@include font-size(12, 18);}

.title_weight_bold {@include font-weight(bold);}
.title_weight_normal {@include font-weight(normal);}

.title_align_left {text-align: left;}
.title_align_center {text-align: center;}
.title_align_right {text-align: right;}