@import "../../styles/vars";
@import "../../../styles/mixins/word-wrap";
@import "../../../styles/mixins/font-size";

.message {
  @include word-wrap();
  @include font-size(14, 20);
  display: block;
  padding-left: 10px;
  color: $text-color;

  & + & {margin-top: 10px;}
}

.message_type_info {border-left: 2px solid $color-blue;}
.message_type_warning {border-left: 2px solid $color-orange;}
.message_type_error {border-left: 2px solid $color-red;}
.message_type_success {border-left: 2px solid $color-green;}