// COLORS
$color-white: #ffffff;
$color-grey: #e0e0e0;
$color-grey-light: #e2e2e2;
$color-grey-dark: #cccccc;
$color-red: #ff1b41;
$color-red-dark: #e70027;
$color-blue: #37a1f9;
$color-blue-dark: #1a85dd;
$text-color: #292929;
$color-light-grey-silver: #f3f3f3;
$color-green: #11b400;
$color-orange: #e26703;

// FIELDS
$field-text-color: $text-color;
$field-size-nm: 36px;
$field-border-color: $color-grey-light;
$field-border-color-focus: $color-blue;
$field-border-color-error: $color-red;
$field-placeholder-text-color: #cecece;