@import '../../../styles/mixins/font-size';
@import '../../../styles/mixins/word-wrap';
@import '../../styles/vars';

.agreement {
  margin-bottom: 40px;
}

.agreement__title {
  @include font-size(12, 16);
  @include word-wrap();
  color: $text-color;
  margin-bottom: 5px;
}

.agreement__item {
  font-size: 0;
}

.agreement__link {
  @include font-size(12, 16);
  @include word-wrap();
  display: inline-block;
  color: $color-blue-dark;
}

.agreement__link:hover {
  color: $color-blue;
}